.NfcPhoneTitle {
  color: white;
  padding-bottom: 10px;
}
.NFCAndOther {
  color: White;
  padding: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.transparentButton {
  background: transparent !important;
  border: transparent !important;
}
.transparentButton:active {
  color: #cccbcb !important;
}
